@using SilverLeaf.Public.Web.Services
@inject LocalizationService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("PageTitlePrivacyPolicy");
}


<h2>@SharedLocalizer.GetLocalizedHtmlString("PrivacyTitle")</h2>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyIntro")</p>
<br />
<p style="text-transform: capitalize;"> @SharedLocalizer.GetLocalizedHtmlString("PrivacyIntro2") </p>

<address>
    <p>
        @SharedLocalizer.GetLocalizedHtmlString("PrivacyAddress1")<br />
        @SharedLocalizer.GetLocalizedHtmlString("PrivacyAddress2")
    </p>
</address>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyOverview")</p>
<p> @SharedLocalizer.GetLocalizedHtmlString("PrivacyVerbiage")</p>

<h2>@SharedLocalizer.GetLocalizedHtmlString("PrivacyDataCollectionTitle")</h2>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyDataCollection1")</p>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyDataCollection2")</p>
<h2>@SharedLocalizer.GetLocalizedHtmlString("PrivacyCookiesTitle")</h2>
<p> @SharedLocalizer.GetLocalizedHtmlString("PrivacyCookies1")</p>
<p> @SharedLocalizer.GetLocalizedHtmlString("PrivacyCookies2")</p>
<h2>@SharedLocalizer.GetLocalizedHtmlString("PrivacyLicenseTitle")</h2>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyLicense1")</p>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyLicense2")</p>
<ol>
    <li>@SharedLocalizer.GetLocalizedHtmlString("PrivacyLicense3")</li>
    <li>@SharedLocalizer.GetLocalizedHtmlString("PrivacyLicense4")</li>
    <li>@SharedLocalizer.GetLocalizedHtmlString("PrivacyLicense5")</li>
</ol>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyLicense6")</p>
<h2>@SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinkingTitle")</h2>
<ol>
    <li>
        @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking1")
        <ol>
            <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking2")</li>
            <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking3")</li>
            <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking4")</li>
            <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking5")</li>
            <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking6")</li>
        </ol>
    </li>
</ol>
<ol start="2">
    <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking7")</li>
    <li>
        @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking8")
        <ol>
            <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking9")</li>
            <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking10")</li>
            <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking11")</li>
            <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking12")</li>
            <li> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking13")</li>
        </ol>
    </li>
</ol>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking14")</p>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking14")</p>
<p> @SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking15")</p>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking16")</p>

<ol>
    <li>@SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking17")</li>
    <li>@SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking18")</li>
    <li>@SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking19")</li>
</ol>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyHyperlinking20")</p>
<h2>@SharedLocalizer.GetLocalizedHtmlString("PrivacyIframesTitle")</h2>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyIframes1")</p>
<h2>@SharedLocalizer.GetLocalizedHtmlString("PrivacyReservationOfRightsTitle")</h2>
<p>
    @SharedLocalizer.GetLocalizedHtmlString("PrivacyReservationOfRights1")
</p>
<h2>@SharedLocalizer.GetLocalizedHtmlString("PrivacyRemovalOfLinksTitle")</h2>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyRemovalOfLinks1")</p>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyRemovalOfLinks2")</p>
<h2>@SharedLocalizer.GetLocalizedHtmlString("PrivacyContentLiabilityTitle")</h2>
<p>
    @SharedLocalizer.GetLocalizedHtmlString("PrivacyContentLiability1")
</p>
<h2> @SharedLocalizer.GetLocalizedHtmlString("PrivacyDisclaimerTitle")</h2>

<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyDisclaimer1")</p>
<ol>
    <li>@SharedLocalizer.GetLocalizedHtmlString("PrivacyDisclaimer2")</li>
    <li>@SharedLocalizer.GetLocalizedHtmlString("PrivacyDisclaimer3")</li>
    <li>@SharedLocalizer.GetLocalizedHtmlString("PrivacyDisclaimer4")</li>
    <li>@SharedLocalizer.GetLocalizedHtmlString("PrivacyDisclaimer5")</li>
</ol>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyDisclaimer6")</p>
<p>@SharedLocalizer.GetLocalizedHtmlString("PrivacyDisclaimer7")</p>